######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Eclipse
######################
.settings/
.classpath
.project

######################
# Mac OSX
######################
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

######################
# Logs
######################
*.log
*.log.gz

######################
# Project Specific
######################
*build/
*out/
*classes/

######################
# Maven
######################
target/

######################
# Others
######################
*.class
*.*~
*~
.merge_file*
